@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	font-family: Inter;
}

.top {
	display: flex;
	justify-content: center;
	color: white;
	padding: 15px;
	gap: 0px 15px;
}

.blue {
	background-color: blue;
	width: 357px;
	height: 57px;
	border-radius: 12px;
	text-align: center;
	padding: auto;
}

.red {
	background-color: red;
	width: 630px;
	height: 57px;
	border-radius: 12px;
	text-align: center;
	padding: auto;
}

.ligne {
	border-top: solid black 2px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.gallery img {
	width: 35%;
}

.img1 {
	flex-grow: 2;
}

.img2 {
	flex-grow: 1;
}

.img3 {
	flex-grow: 1;
}

.img4 {
	flex-grow: 2;
}

.border {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.border hr {
	height: 1px;
	width: 75%;
}

.button {
	display: flex;
	justify-content: center;
}

.load {
	background-color: rgb(1, 100, 255);
	border-radius: 5px;
	color: white;
	border-color: transparent;
	width: 206px;
	height: 59px;
}
